/*
    Copyright ©2020,2021 Paul Suh. 
    
	This file is part of the LegalServer-Tableau Connector.

    The LegalServer-Tableau Connector is free software: you can
    redistribute it and/or modify it under the terms of the GNU Affero
    General Public License as published by the Free Software Foundation,
    either version 3 of the License, or (at your option) any later
    version.

    The LegalServer-Tableau Connector is distributed in the hope that it
    will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
    See the GNU General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License version 3 along with the LegalServer-Tableau Connector.  If 
    not, see <https://www.gnu.org/licenses/>.
*/

body {
    background-color: #ffffff;
    text-align: center;
}

/* button styles */
.big-button {
    padding: 6px 12px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 12pt;
    margin: 10px auto;
}
.small-button {
    padding: 2px 5px;
    border: 2px solid;
    border-radius: 4px;
    width: 90px;
}
.green-button {
    color: white;
    background-color: #5cb85c;
    border: 2px solid #4cae4c;
}
.green-button:hover {
    background-color: #3c9e3c;
    border-color: #3c9e3c;
}
.red-button {
    color: white;
    background-color: #ff8888;
    border: 2px solid #ff6666;
}
.red-button:hover {
    background-color: #ff4444;
    border-color: #ff2222;    
}

/* Grid layout styles */
div.form-table {
    display: grid;
}
div.form-table > div
{
    padding: 3px;
    border: 1px #999 solid;
}
div.form-table input {
    margin: auto;
    background-color: #faffbd;
}
div.form-table textarea {
    margin: auto;
    background-color: #faffbd;
}
p.required-field-tag
{
    font-size: x-small;
    padding: 0px;
    margin: 0px;
}
p.required-field-tag-red {
    color: #C00;
}
label {
    margin: 0px;
    padding: 0px;
}

/* API details table */
#reportApiTable {
    grid-template-columns: 150px 515px;
    justify-content: center;
}
#reportApiTable input {
    width: 500px;
}
#reportApiTable textarea {
    width: 500px;
}
#reportApiTable .field-label {
    text-align: right;
}
#reportApiTable #useCompleteReportApiUrlCheckbox {
    width: auto;
}

/* schema table */
#schemaTable {
    grid-template-columns: 220px 220px 110px 115px;
    justify-content: center;
    align-content: middle;
}
#schemaTable > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
#schemaTable input {
    width: 210px;
}
#schemaTable .table-header{
    font-weight: 700;
    background-color: #ddd;
}
